@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

/* ----------- COLORS ----------- */

/*
  Black: #2d2d2d

*/

/* --------------------- GLOBAL CLASSES --------------------- */

*{
  margin: 0;
  padding: 0;
}

main{
  padding: 0 1.2em;
  background-image: url(../images/home-placeholder-background.jpg);
  background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

section{
  min-height: 100vh;
  display: flex;
  text-align: center;
}

h1{
  font-family: 'Open Sans', sans-serif;
  font-size: 8em;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}

h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
}

p{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #ffffff;
}

.cad-horizontal-line{
  display: block;
  margin: 0 auto;
  width: 2px;
  height: 150px;
  background-color: #ffffff;
}

/* --------------------- HOME --------------------- */

#cad-page-1{
  padding: 0 8em;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#cad-page-1 > header{
  margin-top: auto;
}

#cad-page-1 > header > h1{
  opacity: 0;
  animation: topSlideIn 1s;
	animation-delay: 0.5s;
	animation-fill-mode: forwards;
}

#cad-page-1 > header > h3{
  margin-top: auto;
  opacity: 0;
  animation: topSlideIn 1s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}

#cad-page-1 > p{
  margin: auto 0;
  opacity: 0;
  animation: bottomSlideIn 1s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
}

#cad-page-1 > footer{
  margin-top: auto;
}

.cad-scroll-indicator{
  margin-bottom: 1em;
  opacity: 0;
  animation: topSlideIn 1s!important;
	animation-delay: 2.5s!important;
	animation-fill-mode: forwards!important;
}

#cad-page-1 > footer > .cad-horizontal-line{
  opacity: 0;
  animation: bottomSlideIn 1s!important;
	animation-delay: 2.5s!important;
	animation-fill-mode: forwards!important;
}

/* --------------------- PAGE 2 --------------------- */

#cad-page-2{
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
}

#cad-page-2 > h3{
  margin: 1em 0 0 0;
}

#cad-page-2 > img{
  max-width: auto;
  height: 500px;
}

/* --------------------- KEYFRAMES --------------------- */

@keyframes topSlideIn {

	0%   { opacity: 0; transform: translate(0, -45%);}
 	100% { opacity: 1; transform: translate(0, 0);}

}

@keyframes leftSlideIn {

	0%   { opacity: 0; transform: translate(-20%, 0);}
 	100% { opacity: 1; transform: translate(0, 0);}

}

@keyframes rightSlideIn {

	0%   { opacity: 0; transform: translate(60%, 0);}
 	100% { opacity: 1; transform: translate(0, 0);}

}

@keyframes bottomSlideIn {

	0%   { opacity: 0; transform: translate(0, 45%);}
 	100% { opacity: 1; transform: translate(0, 0);}

}
