@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Staatliches');

/* ----------- COLORS ----------- */

/*
  Light Blue: #b9e2f8
  Blue: #6296bc
  Dark Blue: #055980
  Black: #051922
  Yellow: #ffd00a
  Red: #e73b23
  Black (Text): #2d2d2d
*/

/* --------------------- GLOBAL CLASSES --------------------- */

*{
  margin: 0;
  padding: 0;
}

main{
  padding: 0 0.5em;
  background-color: #055980;
}

section{
  padding: 0 1em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

section > header{
  margin: 1em 0 auto 0;
}

h1{
  font-family: 'Staatliches', sans-serif;
  font-size: 2.75em;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 3px;
  line-height: 1em;
  color: #ffd00a;
}

h2{
  font-family: 'Staatliches', sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffd00a;
}

h3{
  font-family: 'Staatliches', sans-serif;
  font-size: 1.25em;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #ffd00a;
}

p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #ffffff;
}

.cad-scroll-indicator{
  max-height: 25px;
}

.cad-horizontal-line{
  display: block;
  margin: 0 auto;
  width: 1px;
  height: 100px;
  background-color: #ffffff;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {

  h1{
    font-size: 3.75em;
  }

  h2{
    font-size: 3.5em;
  }

  h3{
    font-size: 2em;
  }

  p{
    font-size: 1.2em;
  }

}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {

  h1{
    font-size: 4.75em;
  }

  h2{
    font-size: 4.5em;
  }

  h3{
    font-size: 2.75em;
  }

  p{
    font-size: 1.4em;
  }

}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {

  h1{
    font-size: 5.75em;
  }

  h2{
    font-size: 5.5em;
  }

  h3{
    font-size: 3.4em;
  }

  p{
    font-size: 1.6em;
  }

}

/* --------------------- HOME --------------------- */

#cad-page-1{
  padding: 0 1em;
}

#cad-page-1 > header{
  margin: auto 0;
}

#cad-page-1 > header > h1{
  opacity: 0;
  animation: topSlideIn 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

#cad-page-1 > p{
  margin: 2em 0 0 0;
}

#cad-page-1 > footer{
  margin-top: auto;
}

/* Animation */

#cad-page-1 > header > h1{
  opacity: 0;
  animation: topSlideIn 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

#cad-page-1 > h3{
  opacity: 0;
  animation: topSlideIn 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

#cad-page-1 > p{
  opacity: 0;
  animation: bottomSlideIn 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.cad-scroll-indicator{
  opacity: 0;
  animation: topSlideIn 1s!important;
  animation-delay: 2.5s!important;
  animation-fill-mode: forwards!important;
}

#cad-page-1 > footer > .cad-horizontal-line{
  opacity: 0;
  animation: bottomSlideIn 1s!important;
  animation-delay: 2.5s!important;
  animation-fill-mode: forwards!important;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {

  #cad-page-1{
    padding: 0 2em;
  }

}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {

  #cad-page-1{
    padding: 0 4em;
  }

}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {

  #cad-page-1{
    padding: 0 8em;
  }

}

/* --------------------- PAGE 2 --------------------- */

#cad-page-2 > header > h3{
  margin: 0.35em 0;
}

#cad-page-2 > img{
  margin: auto 0;
  max-height: 250px;
}


/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 3 --------------------- */

#cad-page-3 > p{
  margin-bottom: auto;
}



/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 4 --------------------- */

#cad-page-4 > p{
  margin-bottom: auto;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 5 --------------------- */

#cad-page-5 > p{
  margin-bottom: auto;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 6 --------------------- */



/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 7 --------------------- */



/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 8 --------------------- */



/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 9 --------------------- */



/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 10 --------------------- */



/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- KEYFRAMES --------------------- */

@keyframes topSlideIn {

	0%   { opacity: 0; transform: translate(0, -45%);}
 	100% { opacity: 1; transform: translate(0, 0);}

}

@keyframes leftSlideIn {

	0%   { opacity: 0; transform: translate(-20%, 0);}
 	100% { opacity: 1; transform: translate(0, 0);}

}

@keyframes rightSlideIn {

	0%   { opacity: 0; transform: translate(60%, 0);}
 	100% { opacity: 1; transform: translate(0, 0);}

}

@keyframes bottomSlideIn {

	0%   { opacity: 0; transform: translate(0, 45%);}
 	100% { opacity: 1; transform: translate(0, 0);}

}
