@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Staatliches');

/* ----------- COLORS ----------- */

/*
  Light Blue: #b9e2f7
  Blue: #6295bc
  Dark Blue: #8cb3bf
  Black: #051922
  Yellow: #ffd00a
  Red: #e73b23
  Black (Text): #2d2d2d
*/

/* --------------------- GLOBAL CLASSES --------------------- */

*{
  margin: 0;
  padding: 0;
}

main{
  background-color: #055980;
}

section{
  padding: 0 1.5em 0 1.5em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

section:last-child{
  padding-bottom: 1em;
}

section > header{
  margin: 1em 0 auto 0;
}

section > footer{
  margin: auto 0 0 0;
}

h1{
  font-family: 'Staatliches', sans-serif;
  font-size: 4.5em;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 3px;
  line-height: 1em;
  color: #8cb3bf;
}

h2{
  font-family: 'Staatliches', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #ffffff;
}

h3{
  font-family: 'Staatliches', sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 3px;
  color: #2d2d2d;
}

p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #2d2d2d;
}

p > span{
  font-weight: 700;
}

.cad-scroll-indicator{
  max-height: 25px;
}

.cad-horizontal-line{
  display: block;
  margin: 0 auto;
  width: 2px;
  height: 100px;
  background-color: #2d2d2d;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {

  h1{
    font-size: 3.75em;
  }

  h2{
    font-size: 3.5em;
  }

  h3{
    font-size: 2em;
  }

  p{
    font-size: 1.2em;
  }

}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {

  h1{
    font-size: 4.75em;
  }

  h2{
    font-size: 4.5em;
  }

  h3{
    font-size: 2.75em;
  }

  p{
    font-size: 1.4em;
  }

}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {

  h1{
    font-size: 5.75em;
  }

  h2{
    font-size: 5.5em;
  }

  h3{
    font-size: 3.4em;
  }

  p{
    font-size: 1.6em;
  }

}

/* --------------------- INTRO --------------------- */

#cad-intro-page{
  background-image: url(../images/background-image-intro.png);
  background-position: center;
  background-size: cover;
}

#cad-intro-page > header{
  margin: auto 0 0 0;
}

/* Animation */

#cad-intro-page > header{
  opacity: 0;
  animation: topSlideIn 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

#cad-intro-page > footer > .cad-scroll-indicator{
  opacity: 0;
  animation: topSlideIn 1s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

#cad-intro-page > footer > .cad-horizontal-line{
  opacity: 0;
  animation: bottomSlideIn 1s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 1 --------------------- */

#cad-page-1{
  background-image: url(../images/background-image-intro.png);
  background-position: center;
  background-size: cover;
}

#cad-page-1 > h2{
  margin: auto 0;
  color: #ffffff;
}

#cad-page-1 > p{
  margin: 2em 0 0 0;
}

/* Animation */



/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {

  #cad-page-1{
    padding: 0 2em;
  }

}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {

  #cad-page-1{
    padding: 0 4em;
  }

}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {

  #cad-page-1{
    padding: 0 8em;
  }

}

/* --------------------- PAGE 2 --------------------- */

#cad-page-2{
  background-image: url(../images/background-image-population.png);
  background-size: cover;
}

#cad-page-2 > p{
  margin-bottom: auto;
}

#cad-page-2 > img{
  margin: auto 0;
  max-height: 250px;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 3 --------------------- */

#cad-page-3{
  background-color: #6295bc;
}

#cad-page-3 > header{
  margin-top: 0;
}

#cad-page-3 > header > .cad-horizontal-line{
  background-color: #ffd00a;
}

#cad-page-3 > h3{
  color: #ffd00a;
}

#cad-page-3 > footer > .cad-horizontal-line{
  background-color: #ffd00a;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 4 --------------------- */

#cad-page-4 > p{
  margin-bottom: auto;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 5 --------------------- */

#cad-page-5{
  background-color: #6295bc;
}

#cad-page-5 > header > h3{
  color: #ffd00a;
}

#cad-page-5 > p{
  margin-bottom: auto;
}

#cad-page-5 > img{
  margin: auto 0;
  max-height: 250px;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 6 --------------------- */

#cad-page-6 > p{
  margin-bottom: auto;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 7 --------------------- */

#cad-page-7{
  justify-content: space-between;
}

#cad-page-7 > h3:first-child{
  margin-top: auto;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 8 --------------------- */

#cad-page-8 > p{
  margin-bottom: auto;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 9 --------------------- */

#cad-page-9 > p{
  margin-bottom: auto;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- PAGE 10 --------------------- */

#cad-page-10{
  justify-content: space-between;
}

#cad-page-10 > p:first-child{
  margin-top: auto;
}

/* --- BREAKPOINT 1 --- */

@media (min-width:768px) {



}

/* --- BREAKPOINT 2 --- */

@media (min-width:1024px) {



}

/* --- BREAKPOINT 3 --- */

@media (min-width:1440px) {



}

/* --------------------- KEYFRAMES --------------------- */

@keyframes topSlideIn {

	0%   { opacity: 0; transform: translate(0, -45%);}
 	100% { opacity: 1; transform: translate(0, 0);}

}

@keyframes leftSlideIn {

	0%   { opacity: 0; transform: translate(-20%, 0);}
 	100% { opacity: 1; transform: translate(0, 0);}

}

@keyframes rightSlideIn {

	0%   { opacity: 0; transform: translate(60%, 0);}
 	100% { opacity: 1; transform: translate(0, 0);}

}

@keyframes bottomSlideIn {

	0%   { opacity: 0; transform: translate(0, 45%);}
 	100% { opacity: 1; transform: translate(0, 0);}

}
